# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
*.whl
pip-wheel-metadata/

# Install packages
*.egg
*.wheel

# Dist / build directories
build/
dist/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
.coverage
.cache
nosetests.xml
coverage_html_report/
.coverage.*

# Pytest
.pytest_cache/

# Environments
.env
.envrc
.menhir
*.env
*.env.*.json

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Pycharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Bandit
.bandit/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
target/

# PyBuilder
target/

# Cython debug symbols
cython_debug/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments in .env file
.env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
site/

# Pyre type checker
.pyre/

# AWS SAM build artifacts
.aws-sam/build/

# Local AWS credentials
.aws/credentials

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

# Code within a virtual environment
*.venv
*.pyvenv
